
.sidebar {
	max-width: 200px;
	min-width: 190px;
}

.sidebar > li {
	text-wrap: wrap;
}
/* TODO convert bootstrap to CSS for sidebar d-flex flex-column gap-3 p-3 me-4 ps-4 list-unstyled text-danger w-25  */
.current-tab {
	color: black;
	position: relative;
	display: flex;
	align-items: center;
}

.current-tab::before {
	position: absolute;
	content: "";
	left: -8px;
	height: 130%;
	margin-top: 2%;
	width: 2.5px;
	align-self: center;
	background-color: black;
}
.breadcrumb {
	--bs-breadcrumb-divider: ">";
}
